@charset "utf-8";
/*css layout*/

@import url("fontawesome-3.2.1.min.css");
@import url("framework.css");


/* Rows
---------------------------------------------------------------------------------------------------------------*/
.row0, .row0 a{}
.row1, .row1 a{}
.row2{border-bottom:1px solid;}
.row3, .row3 a{}
.row4, .row4 a{}
.row5{border-top:1px solid;}


/* Header
---------------------------------------------------------------------------------------------------------------*/
#header{padding:50px 0;}

.header-blue{
  background:linear-gradient(135deg, #172a74, #21a9af);
  background-color:#184e8e;
  color: red;
  font-size: 20px;
  font-family:'Source Sans Pro', sans-serif;
}

@media (max-width:767px) {
  .header-blue{
    padding-bottom:80px;
  }
}

.header-blue .navbar{
  background:transparent;
  padding-top:12px;
  color: #d9d9d9;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:767px) {
  .header-blue .navbar{
    padding-top:0;
    padding-bottom:0;
    color: #d9d9d9;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
    color: #d9d9d9;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-right{
    margin-bottom:20px;
  }
}

.header-blue .navbar .navbar-brand{
  font-weight:bold;
  color: #d9d9d9;
  font-size: 25px;
}

.header-blue .navbar .navbar-brand:hover{
  color:#f0f0f0;
}

.header-blue .navbar .navbar-brand img{
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}
.header-blue .navbar .navbar-collapse:active{
  color: #d9d9d9;
}

.header-blue .navbar .navbar-collapse p{
  margin-top:10px;
  margin-bottom:0;
  color: #d9d9d9;
}

.header-blue .navbar .navbar-collapse p .login{
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse p .login:hover{
  color:#fff;
}

.header-blue .navbar .navbar-toggle{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggle:hover, .header-blue .navbar-toggle:focus{
  background:none;
}

.header-blue .navbar .navbar-toggle .icon-bar{
  background-color:#eee;
}

.header-blue .navbar .navbar-collapse, .header-blue .navbar .navbar-form{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-nav > .active > a, .header-blue .navbar .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.header-blue .navbar.navbar-default .navbar-nav > .active > a, .header-blue .navbar.navbar-default .navbar-nav > .active > a:focus, .header-blue .navbar.navbar-default .navbar-nav > .active > a:hover{
  color:rgba(255,255,255,0.3);
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.header-blue .navbar.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a{
  
  color:#d9d9d9;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover{
  color:#fcfeff !important;
  background-color:transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a:hover{
  background:#ebeff1;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu{
    box-shadow:none;
    background:none;
    color:#fff;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu > li > a{
    color:#fdfeff;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.header-blue .action-button, .header-blue .action-button:active{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
  font-size: 20px;
}

.header-blue .action-button:hover{
  color:#fff;
}

.header-blue .action-button.btn-lg{
  padding:7px 18px;
}

.header-blue .navbar .navbar-form label{
  color:#ccc;
}

.header-blue .navbar .navbar-form .search-field{
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;

}

@media (max-width:767px) {
  .header-blue .navbar .navbar-form .search-field{
    display:inline-block;
    width:80%;
  }
}

.header-blue .navbar .navbar-form .search-field:focus{
  border-bottom:1px solid #ccc;
}

.header-blue .hero{
  margin-top:60px;
}

@media (max-width:767px) {
  .header-blue .hero{
    margin-top:20px;
    text-align:center;
  }
}

.header-blue .hero h1{
  color:#fff;
  font-size:40px;
  margin-top:190px;
  margin-bottom:24px;
  font-weight:300;
}

@media (max-width:991px) {
  .header-blue .hero h1{
    margin-top:0;
    margin-bottom:15px;
    line-height:1.4;
  }
}

.header-blue .hero p{
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.header-blue .phone-holder{
  text-align:right;
}

.header-blue div.iphone-mockup{
  position:relative;
  max-width:300px;
  margin:20px;
  display:inline-block;
}

.header-blue .iphone-mockup img.device{
  width:100%;
  height:auto;
}

.header-blue .iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/skyscraper.jpg);
  background-size:cover;
  background-position:center;
}

.header-blue .iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;

}



/* Announce
---------------------------------------------------------------------------------------------------------------*/
#announce{padding:100px 0;}

.hexagon{display:block; position:relative; width:100%; height:auto; margin:60px 0; padding:0 25px 25px; text-align:center; box-sizing:border-box;}
.hexagon::before, .hexagon::after{position:absolute; left:0; width:0; height:0; border:solid transparent; border-width:0 153px; content:"";}
.hexagon::before{bottom:100%; border-bottom-width:60px;}
.hexagon::after{top:100%; border-top-width:60px;}

.hexagon i{font-size:10em; line-height:normal;}


/* Content Area
---------------------------------------------------------------------------------------------------------------*/
#container{padding:50px 0;}

/* Content */
#container #content{}

.boxedicon{display:inline-block; width:70px; height:70px; margin-bottom:30px;}
.boxedicon a{display:table; width:100%; height:100%; border:solid; border-width:2px; border-radius:6px 22px; background-clip:padding-box;}
.boxedicon a i{display:table-cell; vertical-align:middle;}


/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

/* Sidebar */
#container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Footer
---------------------------------------------------------------------------------------------------------------*/
#footer{padding:50px 0;}
#footer .title{margin:0 0 50px 0; padding:0 0 20px 0; border-bottom:1px solid; text-transform:uppercase; font-size:16px;}


/* Copyright
---------------------------------------------------------------------------------------------------------------*/
#copyright{padding:30px 0;}
#copyright p{margin:0; padding:0;}


/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/


/* Navigation
---------------------------------------------------------------------------------------------------------------*/
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
.container-fluid{
	background-color: #1A2A3A;
}
/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: none;
}*/
.container-fluid> >.btn btn-default action-button{
	border: 1px solid rgba(255,255,255,0.7);
    border-radius: 20px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: 6px 15px;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;

}

/* Breadcrumb */
#breadcrumb{padding:30px 0;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:5px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; font-weight:normal;}


/* Forms
---------------------------------------------------------------------------------------------------------------*/
form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
label, input, textarea, select{display:block; resize:none; font-size:inherit; box-sizing:border-box;}
label{margin-bottom:5px;}

/* Comment Area */
#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}


/* Tables
---------------------------------------------------------------------------------------------------------------*/
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top; box-sizing:border-box;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
---------------------------------------------------------------------------------------------------------------*/
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
---------------------------------------------------------------------------------------------------------------*/
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 5px 5px 0; padding:0; line-height:normal;}
.faico :last-child{margin-right:0;}

[class^="faicon-"], [class*=" faicon-"]{display:table-cell; width:50px; height:50px; font-size:20px; line-height:20px; text-align:center; vertical-align:middle;}
#footer [class^="faicon-"], #footer [class*=" faicon-"]{color:#FFFFFF; background-color:#26384E;text-decoration: none;}

#footer .faico .faicon-bitcoin:hover{background-color:#F7931A;}
#footer .faico .faicon-dribble:hover{background-color:#EA4C89;}
#footer .faico .faicon-dropbox:hover{background-color:#3D9AE8;}
#footer .faico .faicon-facebook:hover{background-color:#3B5998;}
#footer .faico .faicon-flickr:hover{background-color:#FF0084;}
#footer .faico .faicon-google-plus:hover{background-color:#DB4A39;}
#footer .faico .faicon-instagram:hover{background-color:#3F729B;}
#footer .faico .faicon-linkedin:hover{background-color:#0E76A8;}
#footer .faico .faicon-pinterest:hover{background-color:#C8232C;}
#footer .faico .faicon-rss:hover{background-color:#EE802F;}
#footer .faico .faicon-skype:hover{background-color:#00AFF0;}
#footer .faico .faicon-tumblr:hover{background-color:#34526F;}
#footer .faico .faicon-twitter:hover{background-color:#00ACEE;}
#footer .faico .faicon-vk:hover{background-color:#4E658E;}
#footer .faico .faicon-youtube:hover{background-color:#C4302B;}


/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/


/* Colours
---------------------------------------------------------------------------------------------------------------*/
body{color:#FFFFFF; background-color:#26384E;}

a{color:#20D8FF;}

hr, .borderedbox{border-color:#E8EAF0;}

label span{color:#FF0000; background-color:inherit;}


/* Rows */
.row1, .row1 a{color:#FFFFFF; background-color:#1A2A3A;}
.row2, .row2 a{color:#666666; background-color:#FFFFFF;}
.row2{border-color:#E8EAF0;}
.row3, .row3 a{color:#666666; background-color:#FFFFFF;}
.row4, .row4 a{color:#FFFFFF; background:linear-gradient(135deg, #172a74, #21a9af);}
.row5, .row5 a{color:#FFFFFF; background: linear-gradient(135deg, #172a74, #21a9af);}
.row5{border-color:#516E8C;}


/* Announce */
a .hexagon{color:#FFFFFF; background-color:rgba(0,0,0,0.3);}
a .hexagon::before{border-bottom-color:rgba(0,0,0,0.3);}
a .hexagon::after{border-top-color:rgba(0,0,0,0.3);}
a:hover .hexagon{background-color:#20D8FF;}
a:hover .hexagon::before{border-bottom-color:#20D8FF;}
a:hover .hexagon::after{border-top-color:#20D8FF;}
a:hover .hexagon i{color:rgba(0,0,0,0.5);}


/* Content */
.boxedicon a{color:#20D8FF; border-color:#20D8FF;}
.boxedicon a:hover{color:#FFFFFF; background-color:#20D8FF;}


/* Footer */
#footer .title, #footer .borderedbox{border-color:#516E8C;}


/* Navigation */
#mainav li a{color:inherit; border-color:transparent;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#20D8FF; border-color:#20D8FF;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#20D8FF;}

#breadcrumb a{color:#888888; background-color:inherit;}
#breadcrumb li:last-child a{color:#20D8FF;}

#container .sidebar nav a{color:#888888; text-decoration: none;}
#container .sidebar nav a:hover{color:#20D8FF;}

.pagination a, .pagination strong{border-color:#E8EAF0;}
.pagination .current{color:#FFFFFF; background-color:#000000;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#E8EAF0;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}